<mat-nav-list>
    @for (item of items; track item.id) {
        <mat-list-item>
            <mat-checkbox [checked]="item.checked" (change)="updateTodoItemChecked(item.id, $event.checked)" [aria-label]="'Complete task: ' + item.value">
                {{item.value}}
            </mat-checkbox>
            <button matIconButton matListItemMeta [attr.aria-label]="'Remove ' + item.value" (click)="removeTodoItem(item.id)">
                <mat-icon>remove {{ item.value }}</mat-icon>
            </button>
        </mat-list-item>
        @if (!$last) {
            <mat-divider></mat-divider>
        }
    }
</mat-nav-list>

<p>
    {{ checkedItems.length }} checked {{ checkedItems.length === 1 ? 'item' : 'items' }}
</p>

<div class="form-control">
    <mat-form-field>
        <input matInput placeholder="Add todo item" (input)="onInputChange($event)" [value]="inputValue">
    </mat-form-field>
    <button matButton="filled" (click)="addTodoItem()">Add Item</button>
</div>