<mat-nav-list>
    @for (item of items; track $index) {
        <mat-list-item>
            <mat-checkbox [checked]="item.checked" (change)="updateTodoItemChecked($index, $event.checked)"></mat-checkbox>
            {{item.value}}
            <button matIconButton matListItemMeta aria-label="Remove" (click)="removeTodoItem($index)">
                <mat-icon>remove</mat-icon>
            </button>
        </mat-list-item>
        @if (!$last) {
            <mat-divider></mat-divider>
        }
    }
</mat-nav-list>

<div class="form-control">
    <mat-form-field>
        <input matInput placeholder="Add todo item" (input)="onInputChange($event)" [value]="inputValue">
    </mat-form-field>
    <button matButton="filled" (click)="addTodoItem()">Add Item</button>
</div>