.mat-mdc-nav-list {
    .mat-mdc-list-item {
        border-radius: 0;
        --mat-list-list-item-hover-state-layer-color: transparent;
    }
    .mdc-list-item {
        cursor: default;
    }
}
:host {
    --mat-form-field-container-vertical-padding: 8px;
    --mat-form-field-container-height: 40px;
    --mat-button-filled-container-shape: 0 100vw 100vw 0;
}

.form-control {
    display: flex;

    .mat-mdc-form-field {
        width: 100%;
    }

    .mdc-button {
        flex-shrink: 0;
    }
}