<ul class="flex flex-col gap-1">
    @for (item of items; track $index) {
        <li>
            <p-checkbox [binary]="true" [ngModel]="item.checked" (onChange)="updateTodoItemChecked($index, $event)" />
            {{item.value}}
            <p-button aria-label="Remove" icon="pi pi-trash" size="small" (click)="removeTodoItem($index)" />
        </li>
    }
</ul>

<p-inputgroup>
    <input
        pInputText="pInputText"
        name="todo-input"
        type="text"
        (input)="onInputChange($event)"
        [value]="inputValue"
        placeholder="Add todo item">
    <p-button label="Add Item" (click)="addTodoItem()"/>
</p-inputgroup>