mat-nav-list {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--mat-sys-surface);
}

.mat-mdc-list-base {
    display: flex;
    flex-wrap: wrap;
}
.mat-mdc-list-item {
    width: auto;

    &.active {
        background-color: lightblue;
    }
}

mat-list-item {
    --mat-list-list-item-hover-state-layer-color: transparent;
    cursor: default;
}